## BEEM011 Exercise 1: Week 2

Amy Binner, Eva Poen

Answers

Probability

## Introduction - useful functions in R 
### Vectors

Let's begin by creating some vectors and exploring combinations of their elements

In [ ]:
### Click CTRL + Enter to Run

# create a 3x1 vector
v1 = c(10, 20, 30)

# print it
v1

In [ ]:
# text goes in double quotes
v2 = c("a","b","c")
v2

In [ ]:
# refer to a single element
v2[2]

In [ ]:
v2[4]
# there are only three elements --> we get NA

In [ ]:
# all possible combinations of the elements of v1 and v2:
combi = expand.grid("choice1"=v1, "choice2"=v2)

# print it
combi

In [ ]:
# make it into a data frame
cframe = as.data.frame(combi)

# print it
cframe

### Creating a frequency table

In [ ]:
# another vector
v3 = c("a","b","b","b","c","c")

# create a frequency distribution of the data in v3
freq = table(v3)

# print the contents
freq

In [ ]:
# a occurs with frequency 1; b occurs with frequency 3; and
# c occurs with frequency 2.

# Make the frequency table into a data frame
f = as.data.frame(freq)

# print it
f

### Introducing the Sum() function

In [ ]:
# The sum() function sums up the elements inside the parentheses
i = sum(5,7)
# print i
i

In [ ]:
# remember v1?
v1

j = sum(v1)
# print j
j

In [ ]:
# We can calculate the sum of a variable in a data frame.
# The syntax is sum(<data frame>$<variable name>)

s = sum(f$Freq)

# We have calculated the total frequency:
# print s
s

In [ ]:
# Create relative frequencies by dividing each frequency by the total
f$rel = f$Freq/s
# or
f$rel = f$Freq/sum(f$Freq)

# print the data frame
f

# Question 1

Consider rolling two dice and let M denote the sum of the number of dots on the two dice. 
(So M is a number between 2 and 12.). 

Below is an example using R, to calculate the probability Pr(M = 7)

Click on the code and then hit ctrl + Enter to run it.

In [1]:
# Example 1

## create a variable of outcomes of rolling a die and call this die
die <- c(1,2,3,4,5,6) 

# cat is a concatenation function that allows you to print strings and variables together
cat("die =",die)

die = 1 2 3 4 5 6

In [2]:
  
## list all possible combinations, call this rolls
rolls <- expand.grid("roll1"=die, "roll2"=die)

## Take a look at what rolls looks like, it is a list of combinations with column names roll1 and roll2 
# rolls is a dataset with two columns
rolls

   roll1 roll2
1  1     1
2  2     1
3  3     1
4  4     1
5  5     1
6  6     1
7  1     2
8  2     2
9  3     2
10 4     2
11 5     2
12 6     2
13 1     3
14 2     3
15 3     3
16 4     3
17 5     3
18 6     3
19 1     4
20 2     4
21 3     4
22 4     4
23 5     4
24 6     4
25 1     5
26 2     5
27 3     5
28 4     5
29 5     5
30 6     5
31 1     6
32 2     6
33 3     6
34 4     6
35 5     6
36 6     6

In [3]:
## create M, the sum of the two die
# Use $ to access the individual columns and to specify a new column M

rolls$M <-  rolls$roll1 + rolls$roll2  

# display by typing the name of the object/dataset
rolls

   roll1 roll2 M
1  1     1      2
2  2     1      3
3  3     1      4
4  4     1      5
5  5     1      6
6  6     1      7
7  1     2      3
8  2     2      4
9  3     2      5
10 4     2      6
11 5     2      7
12 6     2      8
13 1     3      4
14 2     3      5
15 3     3      6
16 4     3      7
17 5     3      8
18 6     3      9
19 1     4      5
20 2     4      6
21 3     4      7
22 4     4      8
23 5     4      9
24 6     4     10
25 1     5      6
26 2     5      7
27 3     5      8
28 4     5      9
29 5     5     10
30 6     5     11
31 1     6      7
32 2     6      8
33 3     6      9
34 4     6     10
35 5     6     11
36 6     6     12

In [4]:
## create a table of the counts at each combination
# the table() function creates a frequency table from the column of data 
w = table(rolls$M)

## create a data frame with var1 as the sum M and Freq as the number of outcomes 
# Like a dataset in STATA rows are preserved and labels are assigned to the columns
t = as.data.frame(w) 
t

   Var1 Freq
1  2    1
2  3    2
3  4    3
4  5    4
5  6    5
6  7    6
7  8    5
8  9    4
9  10   3
10 11   2
11 12   1

In [7]:
# We need the data as a number so we will convert it using as.numeric:
#t$Var1 <- as.numeric(t$Var1)+1

## calculate probabilities, the frequencies in the table can be accessed using t$Freq
# to get the probabilities you need to divide the frequency by the total number of possible outcomes

t$prob <-  t$Freq/sum(t$Freq)
# the sum() function adds all of the elements in the Freq column of the t table 

## Let's look at the table
t

t$M <- c(2:12)
## We could also relabel the first column using colnames(table)[1] = "M"

   Var1 Freq prob       M
1   2   1    0.02777778  2
2   3   2    0.05555556  3
3   4   3    0.08333333  4
4   5   4    0.11111111  5
5   6   5    0.13888889  6
6   7   6    0.16666667  7
7   8   5    0.13888889  8
8   9   4    0.11111111  9
9  10   3    0.08333333 10
10 11   2    0.05555556 11
11 12   1    0.02777778 12

In [ ]:
## use function to answer the question by summing the probabilities of all outcomes where M = 7. 
# we use square brackets to subset the data based on the condition within the brackets

# Prob(M=7)
prob <- t$prob[t$Var1==7]

## DO NOT EDIT THIS LINE - it is to display your answer
print(paste('Pr(M=7) =', round(prob,3)))

# Question 1 a)

## Now it's your turn!

In the block below write R code to evaluate Pr(M=2 or M=10)

In [ ]:
# Enter your code below

## use function to answer the question by summing the probabilities of all outcomes where M = 2 or M = 10. 
prob_a <- t$prob[t$Var1== 2] + t$prob[t$Var1== 10]

## DO NOT EDIT THIS LINE - it is to display your answer
print(paste('Pr(M=2 or M=10) =', prob_a))

M = 2 and M = 10 are *mutually exclusive* events.  The probability of either M = 2 or M = 10 is the union, where the intersection is 0.

$ P(M=2 \cup M=10) = P(M=2) + P(M=10) - P(M=2 \cap M=10) = P(M=2) + P(M=10) $

## 1 b)

In the block below write R code to evaluate Pr(M=4 or M $\neq$ 10)

In [ ]:
# Enter your code below
t$prob[t$Var1!=10]

In [ ]:
## use function to answer the question by summing the probabilities of all outcomes where M = 4 or M != 10. 
# prob_b <- sum(t$prob[t$Var1!=10])

# Equivalent solutions
prob_b <- (1 - t$prob[t$Var1 == 10])

# | can be used to specify OR
# prob_b <- sum(t$prob[t$Var1==4 | t$Var1 != 10])  

## DO NOT EDIT THIS LINE - it is to display your answer
print(paste('Pr(M=4 or M!=10) =', round(prob_b,3)))

M = 4 is a *subset* of M != 10, therefore these events are not independent.

# 1 c)

In the block below write R code to evaluate Pr(M = 6 and M = 10)

In [ ]:
# Enter your code below

## use function to answer the question by summing the probabilities of all outcomes where
## M = 6 and M = 10. 
prob_c <- sum(t$prob[t$Var1==6 & t$Var1 == 10])

## DO NOT EDIT THIS LINE - it is to display your answer
print(paste('Pr(M=6 and M=10) =', prob_c))

M = 6 and M = 10 are *mutually exclusive* events.  The probability of either M = 6 and M = 10 is the intersection, which is 0.

$ P(M=6 \cap M=10) = 0 $

# 1 d)

In the block below write R code to evaluate Pr(M < 8)

In [ ]:
# Enter your code below

## use function to answer the question by summing the probabilities of all outcomes where M < 8.
prob_d <- sum(t$prob[t$Var1 < 8])

## DO NOT EDIT THIS LINE - it is to display your answer
print(paste('Pr(M<8) =', prob_d))

# Question 2

Calculate the expected sum of the dots when rolling two die in Q1.

Recall that the expected value can be computed as

$ E[Y] = \Sigma_y Pr(Y=y)\times y $

In [ ]:
# Enter your code here

# You may want to use the sum() function to add up the values

mean <- sum(t$prob*t$Var1)

print(paste('The mean is', mean))

Now calculate the variance and standard deviation 

Recall that the variance can be computed as

$ Var(Y) = \Sigma_y Pr(Y=y)\times (y - E[Y])^2 $

In [ ]:
# Enter your code here

variance <- sum(t$prob*((t$Var1-mean)^2))

print(paste('The variance is', round(variance,3)))


# Take the square root of the variance to calculate the standard deviation using the sqrt() function 

sd <- sqrt(variance)
               
print(paste('The standard deviation is', round(sd,3)))

### What have you learnt?

#### Useful code

In [ ]:
t$Var1 # using the $ sign to access a column in a dataset

t$Var1 + t$Var2 # summing columns 

t$prob[t$Var1 == 2] # using square brackets to subset rows of a column based on conditions for another column

sum(t$Var1) # summing data in a column

sum(t$Var1 + t$Var2) # summing the rows after summing the columns

mean() # calculating the mean

sd() # calculating the standard deviation

print() # printing outputs to the console below the code cell

#### Additional code ####

cat() # concatenation of strings and variables

table() # creating a frequency table for discrete data

as.data.frame # creating a data frame (to preserve rows)

expand.grid() # listing all of the combinations of outcomes as two columns

In [ ]:
# Marking script

answers = c(0.1111111, 0.917, 0, 0.5833, 6, 5.83333333333333, 2.41522945769824)
submit = c(prob_a, prob_b, prob_c, prob_d, mean, variance, sd)

sum(round(answers,4) == round(submit,4))